<div class="container">
  <div class="banner">
<h1 class="header">Stupid Coaching</h1>
</div>
<p>Ask your coach anything</p>
<form class="form" action="/answer">
  <input type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
</div>
